<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>music-tour</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckPassword</display-name>
    <servlet-name>CheckPassword</servlet-name>
    <servlet-class>com.musictour.CheckPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPassword</servlet-name>
    <url-pattern>/CheckPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.musictour.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfile</display-name>
    <servlet-name>GetProfile</servlet-name>
    <servlet-class>com.musictour.GetProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfile</servlet-name>
    <url-pattern>/GetProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBandProfile</display-name>
    <servlet-name>UpdateBandProfile</servlet-name>
    <servlet-class>com.musictour.UpdateBandProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBandProfile</servlet-name>
    <url-pattern>/UpdateBandProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllConcert</display-name>
    <servlet-name>GetAllConcert</servlet-name>
    <servlet-class>com.musictour.GetAllConcert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllConcert</servlet-name>
    <url-pattern>/GetAllConcert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRateByConcert</display-name>
    <servlet-name>GetRateByConcert</servlet-name>
    <servlet-class>com.musictour.GetRateByConcert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRateByConcert</servlet-name>
    <url-pattern>/GetRateByConcert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConcertByFan</display-name>
    <servlet-name>GetConcertByFan</servlet-name>
    <servlet-class>com.musictour.GetConcertByFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConcertByFan</servlet-name>
    <url-pattern>/GetConcertByFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFan</display-name>
    <servlet-name>AddFan</servlet-name>
    <servlet-class>com.musictour.AddFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFan</servlet-name>
    <url-pattern>/AddFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFan</display-name>
    <servlet-name>DeleteFan</servlet-name>
    <servlet-class>com.musictour.DeleteFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFan</servlet-name>
    <url-pattern>/DeleteFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserByFan</display-name>
    <servlet-name>GetUserByFan</servlet-name>
    <servlet-class>com.musictour.GetUserByFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserByFan</servlet-name>
    <url-pattern>/GetUserByFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBandByFan</display-name>
    <servlet-name>GetBandByFan</servlet-name>
    <servlet-class>com.musictour.GetBandByFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBandByFan</servlet-name>
    <url-pattern>/GetBandByFan</url-pattern>
  </servlet-mapping>
</web-app>