<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>music-tour</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetConcertByReview</display-name>
    <servlet-name>GetConcertByReview</servlet-name>
    <servlet-class>com.musictour.GetConcertByReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConcertByReview</servlet-name>
    <url-pattern>/GetConcertByReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPassword</display-name>
    <servlet-name>CheckPassword</servlet-name>
    <servlet-class>com.musictour.CheckPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPassword</servlet-name>
    <url-pattern>/CheckPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.musictour.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfile</display-name>
    <servlet-name>GetProfile</servlet-name>
    <servlet-class>com.musictour.GetProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfile</servlet-name>
    <url-pattern>/GetProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBandProfile</display-name>
    <servlet-name>UpdateBandProfile</servlet-name>
    <servlet-class>com.musictour.UpdateBandProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBandProfile</servlet-name>
    <url-pattern>/UpdateBandProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllConcert</display-name>
    <servlet-name>GetAllConcert</servlet-name>
    <servlet-class>com.musictour.GetAllConcert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllConcert</servlet-name>
    <url-pattern>/GetAllConcert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRateByConcert</display-name>
    <servlet-name>GetRateByConcert</servlet-name>
    <servlet-class>com.musictour.GetRateByConcert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRateByConcert</servlet-name>
    <url-pattern>/GetRateByConcert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConcertByFan</display-name>
    <servlet-name>GetConcertByFan</servlet-name>
    <servlet-class>com.musictour.GetConcertByFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConcertByFan</servlet-name>
    <url-pattern>/GetConcertByFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFan</display-name>
    <servlet-name>AddFan</servlet-name>
    <servlet-class>com.musictour.AddFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFan</servlet-name>
    <url-pattern>/AddFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFan</display-name>
    <servlet-name>DeleteFan</servlet-name>
    <servlet-class>com.musictour.DeleteFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFan</servlet-name>
    <url-pattern>/DeleteFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserByFan</display-name>
    <servlet-name>GetUserByFan</servlet-name>
    <servlet-class>com.musictour.GetUserByFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserByFan</servlet-name>
    <url-pattern>/GetUserByFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBandByFan</display-name>
    <servlet-name>GetBandByFan</servlet-name>
    <servlet-class>com.musictour.GetBandByFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBandByFan</servlet-name>
    <url-pattern>/GetBandByFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUser</display-name>
    <servlet-name>GetAllUser</servlet-name>
    <servlet-class>com.musictour.GetAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUser</servlet-name>
    <url-pattern>/GetAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllBand</display-name>
    <servlet-name>GetAllBand</servlet-name>
    <servlet-class>com.musictour.GetAllBand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllBand</servlet-name>
    <url-pattern>/GetAllBand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFollow</display-name>
    <servlet-name>AddFollow</servlet-name>
    <servlet-class>com.musictour.AddFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFollow</servlet-name>
    <url-pattern>/AddFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFollow</display-name>
    <servlet-name>DeleteFollow</servlet-name>
    <servlet-class>com.musictour.dbManager.DeleteFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFollow</servlet-name>
    <url-pattern>/DeleteFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFollowerByFollow</display-name>
    <servlet-name>GetFollowerByFollow</servlet-name>
    <servlet-class>com.musictour.GetFollowerByFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFollowerByFollow</servlet-name>
    <url-pattern>/GetFollowerByFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFollowingByFollow</display-name>
    <servlet-name>GetFollowingByFollow</servlet-name>
    <servlet-class>com.musictour.GetFollowingByFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFollowingByFollow</servlet-name>
    <url-pattern>/GetFollowingByFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendConcertByFan</display-name>
    <servlet-name>RecommendConcertByFan</servlet-name>
    <servlet-class>com.musictour.RecommendConcertByFan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendConcertByFan</servlet-name>
    <url-pattern>/RecommendConcertByFan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendBandByType</display-name>
    <servlet-name>RecommendBandByType</servlet-name>
    <servlet-class>com.musictour.RecommendBandByType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendBandByType</servlet-name>
    <url-pattern>/RecommendBandByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllType</display-name>
    <servlet-name>GetAllType</servlet-name>
    <servlet-class>com.musictour.GetAllType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllType</servlet-name>
    <url-pattern>/GetAllType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStypeByType</display-name>
    <servlet-name>GetStypeByType</servlet-name>
    <servlet-class>com.musictour.GetStypeByType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStypeByType</servlet-name>
    <url-pattern>/GetStypeByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAttend</display-name>
    <servlet-name>AddAttend</servlet-name>
    <servlet-class>com.musictour.AddAttend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAttend</servlet-name>
    <url-pattern>/AddAttend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAttend</display-name>
    <servlet-name>UpdateAttend</servlet-name>
    <servlet-class>com.musictour.dbManager.UpdateAttend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttend</servlet-name>
    <url-pattern>/UpdateAttend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConcertByAttend</display-name>
    <servlet-name>GetConcertByAttend</servlet-name>
    <servlet-class>com.musictour.GetConcertByAttend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConcertByAttend</servlet-name>
    <url-pattern>/GetConcertByAttend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserProfile</display-name>
    <servlet-name>UpdateUserProfile</servlet-name>
    <servlet-class>com.musictour.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserProfile</servlet-name>
    <url-pattern>/UpdateUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserType</display-name>
    <servlet-name>InsertUserType</servlet-name>
    <servlet-class>com.musictour.InsertUserType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserType</servlet-name>
    <url-pattern>/InsertUserType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserType</display-name>
    <servlet-name>AddUserType</servlet-name>
    <servlet-class>com.musictour.AddUserType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserType</servlet-name>
    <url-pattern>/AddUserType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserSubType</display-name>
    <servlet-name>AddUserSubType</servlet-name>
    <servlet-class>com.musictour.AddUserSubType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserSubType</servlet-name>
    <url-pattern>/AddUserSubType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBandType</display-name>
    <servlet-name>AddBandType</servlet-name>
    <servlet-class>com.musictour.AddBandType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBandType</servlet-name>
    <url-pattern>/AddBandType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBandSubType</display-name>
    <servlet-name>AddBandSubType</servlet-name>
    <servlet-class>com.musictour.AddBandSubType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBandSubType</servlet-name>
    <url-pattern>/AddBandSubType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddConcertByBand</display-name>
    <servlet-name>AddConcertByBand</servlet-name>
    <servlet-class>com.musictour.AddConcertByBand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConcertByBand</servlet-name>
    <url-pattern>/AddConcertByBand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateConcertByUser</display-name>
    <servlet-name>RateConcertByUser</servlet-name>
    <servlet-class>com.musictour.RateConcertByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateConcertByUser</servlet-name>
    <url-pattern>/RateConcertByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRatedConcertByUserName</display-name>
    <servlet-name>GetRatedConcertByUserName</servlet-name>
    <servlet-class>com.musictour.GetRatedConcertByUserName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRatedConcertByUserName</servlet-name>
    <url-pattern>/GetRatedConcertByUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConcertByUserName</display-name>
    <servlet-name>GetConcertByUserName</servlet-name>
    <servlet-class>com.musictour.GetConcertByUserName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConcertByUserName</servlet-name>
    <url-pattern>/GetConcertByUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddConcertByUser</display-name>
    <servlet-name>AddConcertByUser</servlet-name>
    <servlet-class>com.musictour.AddConcertByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConcertByUser</servlet-name>
    <url-pattern>/AddConcertByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConcertByBandName</display-name>
    <servlet-name>GetConcertByBandName</servlet-name>
    <servlet-class>com.musictour.GetConcertByBandName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConcertByBandName</servlet-name>
    <url-pattern>/GetConcertByBandName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserType</display-name>
    <servlet-name>GetUserType</servlet-name>
    <servlet-class>com.musictour.GetUserType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserType</servlet-name>
    <url-pattern>/GetUserType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserStype</display-name>
    <servlet-name>GetUserStype</servlet-name>
    <servlet-class>com.musictour.GetUserStype</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserStype</servlet-name>
    <url-pattern>/GetUserStype</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBandType</display-name>
    <servlet-name>GetBandType</servlet-name>
    <servlet-class>com.musictour.GetBandType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBandType</servlet-name>
    <url-pattern>/GetBandType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBandStype</display-name>
    <servlet-name>GetBandStype</servlet-name>
    <servlet-class>com.musictour.GetBandStype</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBandStype</servlet-name>
    <url-pattern>/GetBandStype</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>GetConcertByLikes</display-name>
    <servlet-name>GetConcertByLikes</servlet-name>
    <servlet-class>com.musictour.GetConcertByLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConcertByLikes</servlet-name>
    <url-pattern>/GetConcertByLikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLikes</display-name>
    <servlet-name>AddLikes</servlet-name>
    <servlet-class>com.musictour.AddLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLikes</servlet-name>
    <url-pattern>/AddLikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLikes</display-name>
    <servlet-name>DeleteLikes</servlet-name>
    <servlet-class>com.musictour.DeleteLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLikes</servlet-name>
    <url-pattern>/DeleteLikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConcertByLikesFollow</display-name>
    <servlet-name>GetConcertByLikesFollow</servlet-name>
    <servlet-class>com.musictour.GetConcertByLikesFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConcertByLikesFollow</servlet-name>
    <url-pattern>/GetConcertByLikesFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendConcertByAvgRate</display-name>
    <servlet-name>RecommendConcertByAvgRate</servlet-name>
    <servlet-class>com.musictour.RecommendConcertByAvgRate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendConcertByAvgRate</servlet-name>
    <url-pattern>/RecommendConcertByAvgRate</url-pattern>
  </servlet-mapping>
</web-app>